.section-title {
  --bar-width: 40px;
  --bar-height: 3px;

  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: var(--color-text);
  margin-block-end: 2.5rem;
  text-transform: capitalize;

  &::after {
    content: "";
    display: block;
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--color-primary);
    margin-block-start: 1rem;
    margin-inline: auto;
  }
}
