.section-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: var(--color-text);
  margin-block-end: 2.5rem;
  text-transform: capitalize;

  &::after {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background-color: var(--color-primary);
    margin-block-start: 1rem;
    margin-inline: auto;
  }
}
