@use "../../foundation/variables" as *;

.c-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.875rem 2.5rem;
  border-radius: 999px;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
  line-height: 1;
  font-size: 1rem;
  
  &--primary {
    background-color: $color-primary;
    color: $color-white;
    border: 2px solid $color-primary;
    
    &:hover {
      background-color: transparent;
      color: $color-primary;
    }
  }
  
  &--outline {
    background-color: transparent;
    color: $color-primary;
    border: 2px solid $color-primary;
    
    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }
}
