@use "../base/breakpoints" as *;

@scope (.header) {
  :scope {
    background-color: var(--color-surface);
    border-block-end: 1px solid var(--color-border);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-block: 1rem;

    @include mq(md) {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
      padding-block: 1.75rem;
    }
  }

  .logo-link {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--color-primary-dark);
    transition: opacity var(--transition-base);

    @include mq(md) {
      font-size: 1.5rem;
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.75;
      }
    }
  }

  .nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @include mq(md) {
      flex-wrap: nowrap;
      gap: 2rem;
    }
  }

  .nav-link {
    font-weight: bold;
    transition: color var(--transition-base);

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-primary-dark);
      }
    }
  }

  .button {
    --btn-font-size: 0.875rem;
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
  }
}
