@scope (.section) {
  :scope {
    padding-block: 5rem;
  }

  .text {
    width: min(700px, 100%);
    margin-inline: auto;
    margin-block-end: 2.5rem;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
}
