@use "../base/breakpoints" as *;

@scope (.section) {
  :scope {
    padding-block: var(--section-padding-y);
  }

  .text {
    width: min(700px, 100%);
    margin-inline: auto;
    margin-block-end: 2.5rem;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
}

.section-alt {
  background-color: var(--color-bg-alt);
}
